<!-- /views/clientes.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="../assets/css/clientes.css">
</head>
<body>
    <header id="menu-container">
        <nav id="menu">
            <ul>
                <li><a href="dashboard.html">Inicio</a></li>
                <li><a href="clientes.html">Clientes</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Ventas</a></li>
                <li><a href="">Gastos</a></li>
                <li><a href="">Servicios</a></li>
            </ul>
        </nav>
    </header>

    <h1>Clientes</h1>

    <main class="main-container">
        <!-- Formulario para agregar clientes -->
        <section class="form-section">
            <h2>Agregar Cliente</h2>
            <form id="clientForm">
                <label for="name">Nombre:</label>
                <input type="text" id="name" required>

                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion">

                <label for="phone">Teléfono:</label>
                <input type="tel" id="phone">

                <label for="email">Email:</label>
                <input type="email" id="email">

                <button type="submit">Agregar Cliente</button>
            </form>
        </section>

        <!-- Barra de búsqueda y lista de clientes -->
        <section class="client-list-section">
            <h2>Lista de Clientes</h2>
            <input type="text" id="searchBar" placeholder="Buscar cliente...">
            <ul id="clientList">
                <!-- Lista de clientes generada dinámicamente -->
            </ul>
        </section>
    </main>
    <script src="../assets/js/clientes.js"></script>
</body>
</html>
